@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background-color: #FFFAEC;
  font-family: "Quicksand","Zen Maru Gothic";
  background-color: #1E1D1B;
}

.MainScreen{
  max-width: 600px;
  width: 100%;
  height: calc(100dvh - 48px - 50px);
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
